{% extends 'base.html' %}

{% block content %}
               <!-- About-->
We are the best e-commerse in the world

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us</h1>
                    <p class="lead fw-normal text-white-50 mb-0">We offer the best e-commerce experience....</p>
                </div>
            </div>
        </header>
        <br><br>
        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <p align="justify">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sollicitudin sagittis laoreet. Donec tortor diam, convallis sed faucibus sed, sollicitudin sit amet ante. Vivamus facilisis velit at leo porta semper. Phasellus magna ligula, aliquet in dolor nec, vehicula iaculis mi. Sed congue lectus vel magna dapibus luctus. Integer vitae interdum odio, sit amet auctor nisi. Ut blandit ut libero nec efficitur. Donec efficitur ex eu massa luctus, et dapibus ipsum auctor. Suspendisse potenti. Sed at consectetur turpis. In ac massa ornare, ornare libero at, ultrices turpis. Aenean elit enim, mollis nec erat at, dictum accumsan ligula.<br><br>
                            Nulla ipsum ligula, gravida at tristique a, viverra non magna. In scelerisque velit laoreet ante fermentum elementum. Ut sollicitudin arcu placerat, malesuada lorem eu, cursus lacus. Nunc efficitur sem commodo iaculis porttitor. Sed faucibus in nisl at blandit. Sed augue lorem, molestie vitae magna tempor, finibus elementum felis. Sed ipsum nunc, dapibus vitae lectus sit amet, tincidunt varius purus. Sed venenatis auctor ipsum ac sodales. Vestibulum molestie posuere semper. Suspendisse tincidunt erat non diam pharetra, eu congue elit suscipit. Suspendisse potenti. Vivamus bibendum lacus quis tortor dapibus, pharetra tincidunt leo hendrerit. <br><br>
                            In neque tellus, tincidunt eget luctus congue, consequat non diam. In aliquam auctor augue, sed malesuada neque imperdiet eget. Nam gravida, dui venenatis tincidunt condimentum, libero felis tempus augue, eu bibendum ex nibh ac mi. Sed tincidunt aliquet metus, eu rutrum neque dapibus vitae. In metus lectus, malesuada vel enim nec, mollis blandit est. Vivamus sed suscipit felis. In sed massa non arcu bibendum feugiat. Praesent id interdum ante. Proin facilisis tempor turpis, ac ornare felis aliquam non. Sed eget lectus massa. Proin ut risus faucibus sem auctor hendrerit. Nullam scelerisque id dui vel placerat. Vestibulum semper imperdiet libero, ut fermentum turpis sodales sit amet. Phasellus cursus sit amet nunc sit amet varius. Maecenas sodales ante tellus, a pellentesque lectus commodo sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rhoncus imperdiet gravida. Curabitur placerat dapibus dui tincidunt laoreet.
                        </p>
                    </div>
                </center>
            </div>
        </div>
    
{% endblock %}